---
layout: default
---
<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h4>About</h4>
  <p>
     <div>I am an undergraduate research intern at <a href="https://utl.korea.ac.kr/", style="text-decoration: none; color: red;">Universal Transfer Learning Laboratory (UTL Lab)</a> under the supervision of <a href="https://cs-people.bu.edu/donhk/", style="text-decoration: none; color:blue">Prof. Donghyun Kim</a></div>
     <div>My research interests are vision-language model(VLM) especially in visual/video question answering(VQA) and embodied AI.</div>
     <div>Previously, I was a research intern at MLV lab, advised by Hyunwoo J, Kim, and taught by Jongha Kim and Jinyoung Kim.
     <a href="https://jonghakim35.github.io/">Jongha Kim</a> let me know basic paper background(<i>e.g.,</i>Transformer, ViT, CoT, GPT-3, BLIP-2) to understand vision-language models.</div>
     <a href="https://github.com/jinyoung0121">Jinyoung Kim</a> taught me how to survey related works and how to pick up and analyze qualitative examples, and gave me chances to write draft on abstract, conclusion, and dataset sections. In addition, he let me know how to use Tmux in Linux for managing multi-GPU setups.
     <div>All these chances were thanks to <a href="https://mlv.korea.ac.kr/people">Prof. Hyunwoo J, Kim.</div></a>.
     <div>After that, the interest in VLMs has expanded to VLA(vision-language-action) model while working as an intern at <a href="https://davian.kaist.ac.kr/">DAVIAN</a> and <a href="https://utl.korea.ac.kr/">UTL Lab</a>.</div>
  </p>
</div>

<!-- ========== News ========== -->
<div class="docs-section">
  <h5>News</h5>
  <div class="col-12 col-md-12 text-md-left no-padding">
    <b class="bbold" style="color:#fa8072;">Oct 2024</b>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://arxiv.org/abs/2409.10587">2024 SoccerNet challenge results</a> paper has been published.
  </div>
  <div class="col-12 col-md-12 text-md-left no-padding">
    <b class="bbold" style="color:#fa8072;">June 2024</b>&nbsp;&nbsp;&nbsp;&nbsp;
    Our team won <a href="https://eval.ai/web/challenges/challenge-page/2201/leaderboard/5444">2nd place</a> in SoccerNet Challenge on Multi-view Foul Recognition.
  </div>
  <div class="col-12 col-md-12 text-md-left no-padding">
    <b class="bbold" style="color:#fa8072;">April 2022</b>&nbsp;&nbsp;&nbsp;&nbsp;
    Our team received <a href="https://www.hani.co.kr/arti/economy/biznews/1039482.html">media startup grant</a> of 22 million KRW from Korea Press Foundation
  </div>
</div>
<p></p>

<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h4>Education</h4>
  <div class="paper">
    <p class="title"><b>Korea University <b style="float:right;">Mar 2017 - Aug 2025 <i>(expected)</i></b></b></p>
    <p>B.A in Geography Education </p>
    <p>B.Sc in Computer Science & Engineering <i>(double major)</i> </p>
  </div>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h5>Publications</h5>

  <!-- <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/> -->
  </p>

  <!-- <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul> -->

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <div class="row">
            <!--
            <div class="four columns">
              <div class="figure">
                <img src="{{ paper.image }}" width="100%">
              </div>
            </div>
            -->
            <div class="twelve columns">
              {% if paper.year %}
                <p><h5>{{ paper.year }}</h5><hr /></p>
              {% endif %}
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.poster %}
                  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.video %}
                  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}
                
                {% if paper.slides %}
                  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                {% endif %}
                
                {% if paper.twitter %}
                  <a class="button" href="{{ paper.twitter }}" target="_blank">Twitter</a>
                {% endif %}
              </div>
            </div>
          </div>       
        </div>
      {% endfor %}
      <h6><b><i>( * indicates equal contribution, † denotes corresponding authors )</i></b></h6>
    </div>

<!-- ========== PROJECTS ========== -->
<!-- <div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div> -->
<!-- <div class="docs-section" id="teaching">
  <h4>Teaching</h4>
  <p>
    I am always looking for undergraduate/master students interested in doing their thesis on NLP.
    If you are interested in any of my research topics, please contact me as soon as possible, I try to supervise one
    student every semester.
    I also supervise <i>Hiwis</i> (research assistants), but this depends on projects availability.
  </p>
  <ul>
    I've been teaching the following courses:
    <li>
      Guest lecture about QA in the NLP course (Spring Semester 23) @ Koç University (Instructor: Prof. Gözde Gül
      Şahin).
    </li>
    <li>
      Guest lecture about QA in the course NLP4Web (Winter Semester 22/23) @ TU Darmstadt (Instructor: Prof. Iryna
      Gurevych).
    </li>
    <li>
      Data Analysis Software Project for Natural Language (Winter Semester 22/23) @ TU Darmstadt.
    </li>
    <li>
      Guest Lecture about QA in the course <a href="https://github.com/dl4nlp-tuda/deep-learning-for-nlp-lectures">Deep
        Learning for NLP (2022)</a>@TU Darmstadt (Instructor: Prof. Ivan Habernal).
    </li>
  </ul>
  <ul>
    Supervised BSc/Msc Students:
    <li>
      Hao Zhang: Groudning Generative LM with Knwoledge Graphs for Commonsense Reasoning
    </li>
    <li>
      Sewin Tariverdian: Fusing Structured with Unstructured Modalities for Multi-Hop QA
    </li>
    <li>
      Soulaima Khamari: NLI as a Multi-Agent System for QA
    </li>
  </ul>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full Resume in <a href={{ "/assets/cv/CV.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
        {% else %}
        <div class="direction-r">
          {% endif %}
          <div class="flag-wrapper">
            <span class="flag">{{ exp.place }}</span>
            <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
          </div>
          <div class="desc"><b>{{ exp.title }}</b> <br /> {{ exp.subtitle }}</div>
        </div>
    </li>
    {% endfor %}
  </ul>
</div>

</div>

<!-- Cookie Declaration -->
<!-- <script id="CookieDeclaration" src="https://consent.cookiebot.com/f84b82c9-120e-4828-a565-376296f67244/cd.js" type="text/javascript" async></script> -->
<!-- End Cookie Declaration -->